
    <section class="bg-primary" id="about">
            <div class="container">
              <div class="row">
                <div class="col-lg-8 mx-auto text-center">
                  <h2 class="section-heading text-white">THP KEZAKO ?</h2>
                  <hr class="light my-4">
                  <p class="text-faded mb-4">The Hacking Project est un cursus d’apprentissage de programmation informatique. C’est gratuit, à temps plein, sans locaux mais en présentiel (tous les matins réunion en groupe), partout en France et dans le monde francophone.</p>
                  <a class="btn btn-light btn-xl js-scroll-trigger" href="/users/sign_in">inscris-toi !</a>
                </div>
              </div>
            </div>
          </section>