
<footer>
        <section id="contact">
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto text-center">
                <h2 class="section-heading">Embarque pour l'aventure THP !</h2>
                <hr class="my-4">
                <p class="mb-5"> Une communauté soudée, un cursus gratuit et qualitatif & une pédagogie innovante</p>
              </div>
            </div>
    <br>

    <hr class="socialmedia">
    <br>
                  <div class="social">
                      <div><a href="https://www.facebook.com/thehackingproject/"><img class="facebook" src="../assets/facebook.png" alt="facebook"></a></div>
                      <div><a href="https://mobile.twitter.com/the_hacking_pro"><img class="twitter" src="../assets/twitter.png" alt="twitter"></a></div>
                      <div><a href="https://www.instagram.com/the_hacking_project/"><img class="instagram" src="../assets/insta.png" alt="insta"></a></div>
                      <div><a href="https://www.youtube.com/channel/UCFWng8WJ-Xaee2fs0a4dcvQ"><img class="youtube" src="../assets/yout.png" alt="yout"></a></div>
                  </div>
          </div>
        </section>
    </footer>
    