
<footer>
        <section id="contact">
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto text-center">
                <h2 class="section-heading">Embarque pour l'aventure THP !</h2>
                <hr class="my-4">
                <p class="mb-5"> Une communauté soudée, un cursus gratuit et qualitatif & une pédagogie innovante</p>
              </div>
            </div>
    <br>

    <hr class="socialmedia">
    <br>
                  <div class="social">
                      <div>
                        <a href="https://www.facebook.com/thehackingproject/">  
                          <%= image_tag('facebook.png', class: "facebook", alt: "facebook") %> 
                        </a>
                      </div>
                      <div>
                        <a href="https://mobile.twitter.com/the_hacking_pro"> 
                          <%= image_tag('twitter.png', class: "twitter", alt: "twitter") %> 
                        </a>
                      </div>
                      <div>
                        <a href="https://www.instagram.com/the_hacking_project/">
                          <%= image_tag('insta.png', class: "instagram", alt: "instagram") %> 
                        </a>
                      </div>
                      <div>
                        <a href="https://www.youtube.com/channel/UCFWng8WJ-Xaee2fs0a4dcvQ">
                          <%= image_tag('yout.png', class: "youtube", alt: "youtube") %> 
                        </a>
                      </div>
                  </div>
          </div>
        </section>
    </footer>
    